In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn import preprocessing

from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

In [2]:
sal_test=pd.read_csv(r'C:\Users\vikra\OneDrive\Desktop\Data scince assignment\Assignment\Support Vector Machines\SalaryData_Test(1).csv')
sal_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [3]:
sal_train=pd.read_csv(r'C:\Users\vikra\OneDrive\Desktop\Data scince assignment\Assignment\Support Vector Machines\SalaryData_Train(1).csv')
sal_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
string_columns=['workclass','education','maritalstatus','occupation','relationship','race','sex','native','Salary']

In [5]:
label_encoder=preprocessing.LabelEncoder()

In [6]:
for i in string_columns:
    sal_train[i]=label_encoder.fit_transform(sal_train[i])
    sal_test[i]=label_encoder.fit_transform(sal_test[i])

In [7]:
col_names=list(sal_train.columns)
col_names

['age',
 'workclass',
 'education',
 'educationno',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [8]:
col_names1 = list(sal_test.columns)
col_names1

['age',
 'workclass',
 'education',
 'educationno',
 'maritalstatus',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [9]:
train_X=sal_train[col_names[0:13]]
train_Y=sal_train[col_names[13]]

In [10]:
test_X=sal_test[col_names1[0:13]]
test_Y=sal_test[col_names1[13]]

In [11]:
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [12]:
train_X=norm_func(train_X)

In [13]:
test_X=norm_func(test_X)

In [20]:
#kernel = linear

In [21]:
model_linear = SVC(kernel = "linear")
model_linear.fit(train_X,train_Y)

SVC(kernel='linear')

In [22]:
pred_test_linear = model_linear.predict(test_X)

In [23]:
np.mean(pred_test_linear==test_Y)

0.8098273572377158

In [24]:
# Kernel = poly

In [32]:
model_poly = SVC(kernel = "poly")
model_poly.fit(train_X,train_Y)
pred_test_poly = model_poly.predict(test_X)

In [26]:
np.mean(pred_test_poly==test_Y)

0.8435590969455511

In [27]:
# kernel = rbf

In [28]:
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(train_X,train_Y)
pred_test_rbf = model_rbf.predict(test_X)

In [29]:
np.mean(pred_test_rbf==test_Y)

0.8432934926958832

In [34]:
# kernal = sigmoid

In [31]:
model_sigmoid = SVC(kernel = "sigmoid")
model_sigmoid.fit(train_X,train_Y)
pred_test_sigmoid = model_sigmoid.predict(test_X)

In [33]:
np.mean(pred_test_sigmoid==test_Y)

0.5768924302788845

In [35]:
#The Poly kernel gives the best accuracy 84.35%